<%- include ("_header.ejs"); %>
	<h1> Resume Parser </h1>

	<p>

	Being overloaded with resumes for job applications? Trying to see how well you stack up against everybody else for a specific role?
	<br>
	This resume parser allows you to upload your resume or multiple resumes and get them ranked against a specific series of qualifications.
	<br>

	</p>

	 

<%- include ("_footer.ejs"); %>